// src/styles/components/buttons.scss
@use "../variables" as *;
@use "../mixins" as *;

.map-button,
.skill-button,
.backpack-button,
.npc-button,
.object-button,
.shop-button {
    @include button-style;
    padding: 12px;
    flex-direction: column;
    gap: 8px;
}

.map-button {
    width: 100px;
    height: 100px;
    gap: 24px;
    background-color: #CBCCCC;
    color: #000;
}

.skill-button {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #CBCCCC;
    cursor: pointer;
    transition: background 0.3s;
}

.skill-button:hover {
    background-color: #555;
}

.skill-button.cooldown {
    background-color: #aaa;
    cursor: not-allowed;
}

.shop-button {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #3E3F40;
    color: #fff;
}

.backpack-button {
    padding: 6px 12px;
    background-color: #3E3F40;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:hover {
        background-color: #555;
    }
}