// styles/components/inventory.scss
@use "../variables" as *;
@use "../mixins" as *;

#backpack-map {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
    max-height: 40vh;
}

#backpack {
    @include box-style($color-white);
    width: 500px;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.item {
    display: flex;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background-color: $color-white-gray;
    color: $color-black;
}

// 選取物品的樣式
.item.selected {
    background-color: rgba(62, 63, 64, 0.8); // 深色背景
    border: 2px solid #FFD700; // 金色邊框
    box-shadow: 0 0 5px rgba(255, 215, 0, 0.8); // 金色發光效果
    color: #FFFFFF; // 文字變白
    transform: scale(1.01); // 稍微放大
    transition: all 0.2s ease-in-out;
}

.backpack-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black);
}
